html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Oswald;
}

:root {
  --accent-color: #F7654A;
  --dark-color: #404149;
  --gray-color: #999;
  --white-color: #FFF;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

.header {
  min-height: 740px;
  background: url(../img/first-screen-bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 310px;
}

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 20px;
  margin-bottom: 112px;
}

.burger {
  background-color: var(--accent-color);
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border: none;
}

.burger__line {
  width: 21px;
  height: 3px;
  background-color: var(--white-color);
}

.h1 {
  max-width: 734px;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0 auto 17px;
  color: var(--white-color);
}

.h4 {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--white-color);
}

.about {
  min-height: 1081px;
  position: relative;
  padding: 250px 0 110px;
}

.numbers {
  position: absolute;
  background-color: #f7f7f7;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1110px;
  width: 100%;
  padding: 57px 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
}

.numbers__item {
  width: 190px;
  height: 186px;
  text-align: center;
}

.numbers__h4 {
  color: var(--accent-color);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.numbers__h5 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.numbers__p {
  color: var(--gray-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.projects__h2 {
  color: var(--dark-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.projects__flex {
  display: flex;
}

.projects__flex-item {
  max-width: 350px;
  margin-right: 30px;
}

.projects__flex-item:last-child {
  margin-right: 0;
}

.projects__img {
  max-width: 100%;
}

.projects__h3 {
  color: var(--dark-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-bottom: 13px;
}

.projects__p {
  color: #999;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.line {
  width: 55px;
  height: 6px;
  background-color: var(--accent-color);
  margin: 40px 0 15px;
}

.request {
  background-color: var(--accent-color);
  padding: 0 15px;
}

.request__flex {
  display: flex;
  justify-content: space-between;
}

.request__flex-left {
  color: var(--white-color);
}

.request__h4 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin: 30px 0 6px;
}

.request__h5 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.request__flex-btn {
  min-width: 175px;
  height: 49px;
  background-color: var(--white-color);
  margin: 73px 0 59px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.request__flex-btn p {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-top: 14px;
}

.request__img {
  margin-top: 18px;
}

.services {
  padding: 150px 0 147px;
}

.services__h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.services__grid-item {
  width: 350px;
  padding: 59px 0 61px;
  background-color: #f7f7f7;
}

.services__icon {
  margin: 0 auto 22px;
  display: block;
}

.services__h4 {
  max-width: 172px;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.portfolio__img {
  width: 100%;
  vertical-align: top;
}

.questions {
  padding: 150px 0 110px;
}

.questions__h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.questions__h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--accent-color);
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

.questions__h3_close {
  margin-bottom: 33px;
}

.questions__h3_close::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/arrow.svg) no-repeat center;
  margin-right: 15px;
  margin-bottom: 3px;
}

.questions__h3_close+p {
  display: none;
}

.questions__h3_open {
  margin-bottom: 22px;
}

.questions__h3_open::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/arrow.svg) no-repeat center;
  margin-right: 15px;
  margin-bottom: 4px;
  transform: rotateZ(270deg);
}

.questions__p {
  max-width: 730px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 36px;
}

.partners {
  background-color: var(--dark-color);
  padding: 100px 0 75px;
}

.partners__h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: var(--white-color);
  text-align: center;
}

.partners__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__flex-item {
  max-width: 170px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.partners__flex-item:nth-child(5n) {
  margin-right: 0;
}

.reviews {
  padding: 150px 0 144px;
}

.reviews__h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.reviews__card {
  padding: 19px 30px 33px;
  margin-bottom: 30px;
  background-color: #f7f7f7;
}

.reviews__quotes {
  color: var(--accent-color);
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: -37px;
}

.reviews__p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.reviews__h4 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.42px;
}

.reviews__author-accent {
  color: var(--accent-color);
  letter-spacing: 0.7px;
}

.reviews+.request .request__h4 {
  letter-spacing: 1.25px;
}

.contacts {
  padding: 100px 0 120px;
}

.contacts__h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.contacts__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.contacts__item {
  max-width: 250px;
  text-align: center;
}

.contacts__icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
}

.contacts__h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts__h3_gray {
  color: var(--gray-color);
  margin-bottom: 18px;
}

.contacts__h3_accent {
  color: var(--accent-color);
}

.footer {
  background-color: var(--dark-color);
  padding: 30px 15px;
  color: var(--white-color);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {

  .portfolio__grid,
  .numbers,
  .services__grid,
  .reviews__grid,
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    padding: 460px 15px 100px;
  }

  .services {
    padding-right: 15px;
    padding-left: 15px;
  }

  .services__grid-item {
    width: 100%;
  }

  .questions {
    padding: 110px 15px;
  }

  .partners__flex {
    justify-content: center;
  }

  .partners__flex-item {
    margin-left: 15px;
    margin-right: 15px;
  }

  .partners__flex-item:nth-child(5n) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .reviews {
    padding: 110px 15px;
  }

  .contacts__item {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .services__grid,
  .portfolio__grid,
  .numbers,
  .reviews__grid,
  .contacts__grid {
    grid-template-columns: 1fr;
  }

  .about {
    padding-top: 890px;
  }

  .numbers {
    padding: 57px 0;
  }

  .projects__flex {
    flex-direction: column;
    align-items: center;
  }

  .projects__flex-item:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .request__flex {
    flex-direction: column;
    align-items: center;
  }

  .request__flex-btn {
    margin: 50px 0;
  }

  .questions {
    padding-top: 60px;
  }

  .footer__flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .h1 {
    font-size: 48px;
  }

  .questions__h3 {
    font-size: 20px;
  }
}